
<%- include('../Header.ejs') %>

<%- include('../navigation.ejs') %>

<html lang="en"> 
  <body>
   <div class="Flight content">
    <h2>Tickets Opted</h2>
    <% if (user.length > 0) { %>
      <% user.forEach(userDet => { %>
        <h3 class="Name">ID: <%= userDet.Flight_Id %></h3>
        <ul>
         
          <li>Name: <%= userDet.Passenger_Name%></li>
          <li>Email: <%= userDet.Passenger_email%></li>
          <li>Age: <%= userDet.Passenger_Age%></li>
        </ul>
        <div>
          <a class="Cancel" href="/Home" data-doc="<%=userDet.id%>">Delete</a>
        </div>
      <% }) %>
      <% }else{ %>
        <p>There are no flight to display...</p>
        <% } %>
   </div>
   <script>
    const Cancels=document.querySelector('a.Cancel');
    Cancels.addEventListener ('click',(e)=>{
      const endpoint=`/Cancel/${Cancels.dataset.doc}`;

      fetch(endpoint,{
        method:'DELETE',
      })
      .then((response)=> response.json())
      .then((data)=> window.location.href = data.redirect)
      .catch(err=> console.log(err));
    })
   </script>
  </body>
</html>


